body{
background:#faf6f1;
color:black;
font-family:Arial;
text-align:center;
margin:0;
}

header{
background:#f6d6dc;
padding:20px;
}

h1,h2{
color:#8b5e57;
}

nav a{
text-decoration:none;
color:black;
margin:10px;
font-weight:bold;
}

.hero{
background:#d8c4f0;
padding:50px;
}

.card{
background:#d8e7d0;
margin:40px;
padding:30px;
border-radius:15px;
}

button{
background:#8b5e57;
color:white;
padding:10px;
border:none;
}
